html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}

header {
  position: inherit;
}
header img {
  display: block;
  width: auto;
  height: 3rem;
}
.header_logo {
  display: table-cell;
}

main {
	display: flex;
}
