html, body {
  width:  100%;
  height: 100%;
  margin: 0;
}
header {
  position: fixed;
  height: 5%;
}
header img {
  display: block;
  width: auto;
  height: 5vh;
}
.header_logo {
  display: table-cell;
}
main {
	display: flex;
}
