.contenedorCard{
    position: fixed;
    overflow-y: scroll;
    background-color: azure;
    top: 26vh;
    height: 75vh;
    width: 100%;
    left: 1%;
}
.card-body{
    line-height: 1vh;
}
.card-name{
    font-weight: bold;
}